target/
*.DS_Store
*.swp
.apt_generated/
.apt_generated_tests/
*.csv
device-to-ubidots/config.json
src/main/python/device-to-ubidots/decoded/
src/main/python/device-to-ubidots/decoded_csvs/
device-to-ubidots/decoded.json
src/main/python/device-to-ubidots/payloads.json
src/main/python/device-to-ubidots/ttn-formatters

